body {
  background-image: url("/static/background.svg");
  background-size: cover;
   /*white background color*/
  /*background-color: #f3f3f3 !important;*/

  font-family: "Chivo" !important;
  text-align: center;
}

a {
  color: #978f90 !important;
}

a:hover {
  color: #ff9b00 !important;
}
.button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.075)!important;

  color: #ff9b00;

}

.rounded {
  border-radius: 20rem !important;
}

.vh-75 {
  height: 75vh;
}
